body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    overflow: hidden; /* Prevents scrolling */
}

h1 {
    color: #f2d729;
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 3px 3px 0px #15b31b, 6px 6px 0px #34495e;
}

canvas {
    background-color: #34495e;
    border: 10px solid #e8dbb0;
    width: 90vw; /* Set to 90% of the viewport width */
    height: 90vw; /* Maintain aspect ratio for height */
    max-width: 450px; /* Maximum size limit */
    max-height: 450px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto; /* Center the canvas */
}

/* Handles responsive design for larger devices */
@media (min-width: 1024px) {
    canvas {
        width: 450px; /* Fix the size for large screens */
        height: 450px;
    }
}

/* Media query for smaller devices (phones and tablets) */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    canvas {
        width: 80vw;
        height: 80vw;
        max-width: 400px;
        max-height: 400px;
    }
}

/* Media query for very small devices */
@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }
    canvas {
        width: 95vw; /* Slightly increase width for better visibility */
        height: 95vw;
        max-width: 350px;
        max-height: 350px;
    }
}
